STATEMENT_ENDPOINT=https://forecast.weather.gov/product.php?site=ILX&issuedby=ILX&product=AFD&format=txt
OPENAI_ENDPOINT=http://127.0.0.1:6767/v1
OPENAI_API_KEY=123
OPENAI_MODEL_ID=mlx-community/GLM-4.7-Flash-4bit
